<h1>Home page</h1>

<%= link_to "Share your link", new_link_path %>
</br>
</br>

<table>
  <tr>
    <th>Link</th>
    <th>Share by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @links.each do |link| %>
  <tr>
    <td><%= link_to link.title, link.url %></td>
    <td><%= link.user.name if link.user.present? %></td>
    <td><%= link_to 'Edit', edit_link_path(link) %></td>
    <td><%= link_to 'Destory', link, :method => :delete, :confirm => "Are you sure?"%></td>
  </tr>
<% end %>

</table>
